In [4]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [5]:
#read csv into df
clean_bins_df = pd.read_csv("Cleaned_dataset.csv")
# columns to drop... salary_currency, salary, work_year
df.sample(25)

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
196,Amazon,332000,1.0,0,0,1,CA,Palo Alto
2206,Xandr,120000,1.0,1,0,0,OR,Portland
275,Facebook,189000,0.0,0,0,0,CA,Menlo Park
2207,Facebook,233000,2.0,0,1,0,CA,Menlo Park
574,Zillow,185000,3.0,1,0,0,WA,Seattle
2188,BigCommerce,217000,16.0,0,0,0,CA,San Francisco
1928,Facebook,255000,6.0,0,0,1,OK,Tulsa
1290,Facebook,165000,0.0,0,0,0,CA,San Francisco
2044,Intel,183000,0.0,0,0,1,OR,Portland
2068,Capital One,123000,3.0,0,0,0,NY,New York
2221,Deloitte,190000,3.0,0,0,0,IL,Chicago
2190,Microsoft,205000,3.0,1,0,0,MA,Boston
1977,Instacart,488000,15.0,1,0,0,CA,San Francisco
1713,Walmart Labs,180000,2.0,0,0,0,CA,San Bruno
225,Oath,140000,2.0,0,0,0,NY,New York
1622,JPMorgan Chase,150000,4.0,1,0,0,TX,Dallas
492,Uber,180000,6.0,1,0,0,CA,San Francisco
1136,Microsoft,159000,2.0,1,0,0,WA,Redmond
1122,DoorDash,216000,3.0,0,0,0,CA,San Francisco
785,Shutterstock,125000,1.0,0,0,1,NY,New York
1403,JPMorgan Chase,285000,5.0,0,0,0,NY,New York
2091,Snap,375000,7.0,0,0,0,NY,New York
1284,Waymo,250000,0.0,0,0,1,CA,Mountain View
1098,Experian,90000,2.0,1,0,0,IN,Indianapolis
1730,Apple,400000,11.0,0,0,0,CA,Cupertino

In [6]:
#skip procedural encoding with get_dummies()?
# clean_dummies = clean_dummies.drop(['gender_2'], axis=1)
clean_dummies = pd.get_dummies(data=clean_bins_df, columns=['company', 'state', 'city'], drop_first=True)#drop the gender columns?
clean_dummies.head(15)

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,state_AR,state_AZ,state_CA,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
0,233000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180000,10.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,500000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,200000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,340000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,690000,10.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,600000,3.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,168000,8.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,187000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,225000,11.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,220000,6.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,130000,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,112000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# #OneHot to new categories
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(sparse=False)
# company_encoded = lb_make.fit_transform(clean_bins2['company'])
# company_encoded = company_encoded.reshape(len(company_encoded), 1)
# onehot_company_encoded = enc.fit_transform(company_encoded)
# print(onehot_company_encoded)

In [7]:
X = clean_dummies.drop(columns=["totalyearlycompensation"])
y = clean_dummies["totalyearlycompensation"]
X.shape
# Scale the dataset using MinMaxScaler()
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0.11764706, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.32352941, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.29411765, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.23529412, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.64705882, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.17647059, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, 
                                                    y, 
                                                    random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.4603675545426319
Testing Score: -6.883105032038453e+24

In [10]:
#LinReg basically could not do better than true random... testing random Forest Regressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X, y)

RandomForestRegressor(random_state=42)

In [12]:
Y_pred = regressor.predict(X_test)  # test the output by changing values

In [13]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.7409089141030387
Testing Score: 0.7325428098366673

In [14]:
# RFR model looks pretty good... 
#could we use cross validation and/or decision trees to determine which features are not contributing to the model
#then tune by removing these noise contributors